/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 5%;
}
/*this ends container*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Niramit', sans-serif;
  border-bottom: 0.2rem solid black;
  padding: 2%;
  margin: 3% 0;
  /*this ends nav*/
}
header h1 {
  font-size: 6rem;
}
header p {
  font-size: 2.5rem;
  padding: 2%;
  font-family: 'K2D', sans-serif;
}
header nav {
  font-size: 1.5rem;
  display: flex;
}
header nav a {
  padding: 0 2%;
  text-decoration: none;
  color: black;
}
header nav a:hover {
  text-decoration: underline;
  color: darkgrey;
}
/*this ends header*/
.skills-interests {
  display: flex;
  justify-content: space-between;
}
.skills-interests div {
  width: 45%;
  margin: 2%;
}
.skills-interests h2 {
  font-size: 4rem;
  font-family: 'Niramit', sans-serif;
  margin-bottom: 2%;
}
.skills-interests ul {
  font-size: 1.6rem;
  font-family: 'K2D', sans-serif;
}
.skills-interests ul li {
  margin: 2% 1%;
}
/*this ends skills-interests */
.work-history {
  display: flex;
  flex-direction: column;
}
.work-history h2 {
  font-size: 4rem;
  font-family: 'Niramit', sans-serif;
  margin: 1% 0;
}
.work-history h3 {
  font-size: 3rem;
  font-family: 'Niramit', sans-serif;
  margin: 1.5% 0;
}
.work-history h4 {
  font-size: 2.2rem;
  font-family: 'Niramit', sans-serif;
  padding: 1% 0;
}
.work-history p {
  font-size: 1.6rem;
  font-family: 'K2D', sans-serif;
}
/*this ends work-history */
